@model Category
@{
    ViewData["Title"] = "Create"; 
}
<h1>Create Category</h1>
<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <partial name="PartialViews/CreateEditCategoryPartialView" />
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Back To List</a>
            </div>
        </form>
    </div>
</div>

@* Enable Client-Side Validation: *@
@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}

