<td>
    <a asp-action="Edit" asp-route-id="@Model" class="btn btn-success">
        <i class="fas fa-edit"></i>Update
    </a>
    <a asp-action="Delete" asp-route-id="@Model" class="btn btn-danger ml-1">
        <i class="fas fa-trash"></i>Delete
    </a>
</td>
